<title><%= title %></title>
<link rel="stylesheet" href="/css_files/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.min.js"></script>
<style>
.invalid-feedback {
  color: #ff0019;
  font-size: 0.875rem;
  display: none;
}

input:invalid + .invalid-feedback {
  display: block;
  margin-top: 0.25rem;
}
</style>
<% if (message) { %>
    <div id="alert-message" class="alert alert-<%= message.type %>">
      <%= message.text %>
    </div>
<% } %>
<div class="containerr">
    <div class="form-containerr">
        <form id="signin-form"  class="formm" method="POST" action="/user/login-user-session" class="needs-validation" novalidate>
            <h2>Sign In</h2>
            <hr style="background-color: white; width: 100%;">
            <input type="email" name="email" placeholder="Email..." required>
            <div class="invalid-feedback">
                Please enter a valid email address.
            </div>
            <input type="password" name="password" placeholder="Password..." required>
            <div class="invalid-feedback">
                Please enter a valid Password.
            </div>
            <button type="submit" id="button">Sign In</button>
            <a href="/auth/passwor-reset-form" class="forgot-password-button">
                <i class="fas fa-lock"></i>
                forgot-Password ?
            </a>
            <!-- Or
            <hr style="background-color: blue !important; width: 100%;">
            <a href="/user/auth/github" class="github-button">
                <span>
                    <i class="fa-brands fa-github fa-xl">
                    </i>
                    Sign In with Github
                </span>
            </a> -->
            <p>Don't have an account? <a href="/user/sign-up">Sign Up</a></p>
        </form>
    </div>
</div>
<script src="/script_files/validation.js"></script>
<script>
    // Hide alert message after 5 seconds
    setTimeout(function() {
      document.getElementById('alert-message').style.display = 'none';
    }, 5000);
  </script>